@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa/Comfortaa-Bold.ttf") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa/Comfortaa-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa/Comfortaa-Light.ttf") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Faster one";
  src: url("./assets/fonts/FasterOne/FasterOne-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --gray-900: #212121;
  --gray-700: #616161;
  --gray-500: #9e9e9e;
  --gray-100: #f5f5f5;
  --blue-500: #2196F3;
  --red-500: #F44336;

  /* shadows */
  --shadow-normal: 0 3px 7px 0 rgba(0, 0, 0, 0.13),
    0 1px 2px 0 rgba(0, 0, 0, 0.11);
  --shadow-large: -10px 10px 0px rgba(33, 33, 33, 1),
    -20px 20px 0px rgba(33, 33, 33, 0.7), -30px 30px 0px rgba(33, 33, 33, 0.4),
    -40px 40px 0px rgba(33, 33, 33, 0.1);
}

*,
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa";
}

body {
  overflow-x: hidden;
}
/* text_colors */

.text-white {
  color: white;
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-gray-700 {
  color: var(--gray-700);
}

.text-gray-900 {
  color: var(--gray-900);
}

/* backgrounds */
.bg-white {
  background: white;
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-gray-500 {
  background-color: var(--gray-500);
}

.bg-gray-700 {
  background-color: var(--gray-700);
}

.bg-gray-900 {
  background-color: var(--gray-900);
}

/* font_families */
.faster-one {
  font-family: "Faster one";
  color: var(--gray-700);
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* margins */
.mx-large {
  margin-left: 10em;
  margin-right: 10em;
}

.mx-medium {
  margin-left: 5em;
  margin-right: 5em;
}

.mx-small {
  margin-left: 2em;
  margin-right: 2em;
}

.mx-smaller {
  margin-left: 1em;
  margin-right: 1em;
}

.my-large {
  margin-top: 10em;
  margin-bottom: 10em;
}

.my-medium {
  margin-top: 5em;
  margin-bottom: 5em;
}

.my-small {
  margin-top: 2em;
  margin-bottom: 2em;
}

.my-smaller {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* padding */
.px-large {
  padding-left: 10em;
  padding-right: 10em;
}

.px-medium {
  padding-left: 5em;
  padding-right: 5em;
}

.px-small {
  padding-left: 2em;
  padding-right: 2em;
}

.px-smaller {
  padding-left: 1em;
  padding-right: 1em;
}

.py-large {
  padding-top: 10em;
  padding-bottom: 10em;
}

.py-medium {
  padding-top: 5em;
  padding-bottom: 5em;
}

.py-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.py-smaller {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* animated_cursor */
.animated_cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #61616180;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

/* p:hover ~ .animated_cursor {
  transform: scale(2);
} */

/* nav */
nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--gray-700);
  font-weight: bold;
}

.underline_on_hover {
  position: relative;
  transition: 0.2s ease;
  padding-bottom: 0.3em;
  cursor: pointer;
}

.underline_on_hover::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: var(--gray-700);
  transition: 0.2s ease;
}

.underline_on_hover:hover::after {
  width: 100%;
}

.underline_on_hover:hover {
  color: var(--gray-900);
}

.underline_on_hover:focus::after {
  width: 100%;
  outline: none;
}

.underline_on_hover:focus {
  color: var(--gray-900);
  outline: none;
}

/* hero setion */
.hero_section {
  display: flex;
  flex-direction: row;
  gap: 10em;
  justify-content: center;
  align-items: start;
}

.hero_section_row_1 {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero_section_row_1_buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.hero_section_img_container img {
  box-shadow: var(--shadow-large);
  transition: 0.2s ease;
}

.landing_page_hero_img {
  width: 17em;
}

.blog_hero_img {
  box-shadow: none !important;
  width: 30em;
}

.hero_section_img_container img:hover {
  box-shadow: var(--shadow-normal) !important;
}

/* buttons */
.button {
  background-color: var(--gray-900);
  text-decoration: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: small;
  font-weight: bold;
  border: 1px solid var(--gray-900);
}

.button:hover {
  background: white;
  border: 1px solid var(--gray-900);
  color: var(--gray-900);
  transition: 0.2s ease;
  box-shadow: var(--shadow-normal);
}

.button:focus {
  background: white;
  border: 1px solid var(--gray-900);
  color: var(--gray-900);
  box-shadow: var(--shadow-normal);
}

.button-outline {
  background-color: white;
  text-decoration: none;
  color: var(--gray-900);
  padding: 0.5em 1.5em;
  font-size: small;
  font-weight: bold;
  border: 1px solid var(--gray-700);
}

.button-outline:hover {
  background: var(--gray-900);
  border: 1px solid var(--gray-700);
  color: white;
  transition: 0.2s ease;
  box-shadow: var(--shadow-normal);
}

.button-outline:focus {
  background: var(--gray-900);
  border: 1px solid var(--gray-700);
  color: white;
  box-shadow: var(--shadow-normal);
}

/* what I do */
.what_I_do_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  /* margin: 0em 20em; */
}

.what_I_do_container > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.what_I_do_container > div > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.what_I_do_blob {
  width: 35em;
  position: absolute;
  top: -20em;
  left: -30em;
}

.what_I_do_blob_2 {
  width: 35em;
  position: absolute;
  bottom: -20em;
  right: -30em;
}

.underline {
  position: relative;
  padding-bottom: 0.3em;
}

.underline::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  height: 2px;
  width: 50%;
  background-color: var(--gray-700);
  margin-top: 50px;
}

/* Projects */
.projects_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.projects_main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /* margin-top: 1em; */
}

.projects_main_container > div {
  margin-top: 1em;
  display: flex;
  justify-self: start;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: flex-start;
}

.projects_main_container > div > p {
  font-size: small;
}

.most_read_articles {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2em;
}

/* skills */
.skills {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: start;
  align-items: start;
}

.skills > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.skills > div > img {
  width: 120px;
}

.skills > div > p {
  font-size: x-large;
  font-weight: bold;
}

/* articles_group */
.articles_group {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* IF ON BLOG */
.articles_group_col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5em;
}

.articles_container_blog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2em;
}

.contacts_spacing {
  content: " ";
  height: 100px;
}

.list_of_contacts_blog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
  transition: margin-top 0.2s ease-in-out;
}

.horizontal_separator_blog {
  content: " ";
  width: 15em;
  height: 1px;
  background-color: var(--gray-500);
  justify-self: center;
}

.list_of_contacts_blog > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  font-size: small;
}

.list_of_contacts_blog > div > img {
  width: 50px;
}

.contacts_section_top_spacing {
  height: 150px;
  background-color: var(--gray-100);
  width: 100px;
}

.contacts_container_blog {
  /* make the thing sticky   */
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2em;
}

.menu_icon {
  display: none;
}

.blue_btn {
  color: var(--blue-500);
  text-decoration: none;
}

.red_btn {
  color: var(--red-500);
  text-decoration: none;
}

.form_error_text {
  font-size: small;
  display: none;
}

/* IF ON BLOG */

.likes_description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.likes_description > img {
  width: 15px;
}

.articles_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
}

.article_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  align-items: start;
}

.article_info_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5em;
}

.article_info_container > h3 {
  font-size: medium;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--gray-900);
}

.article_info_container > h3 > a {
  color: var(--gray-900);
  text-decoration: none;
}

.article_meta_data {
  font-size: small;
  color: var(--gray-900);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.dot_separator {
  content: " ";
  width: 4px;
  height: 4px;
  background-color: var(--gray-900);
  border-radius: 100%;
}

.likes_description {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

.article_img {
  width: 100px;
}

/* contacts */

.contacts_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: start;
  align-items: start;
  background-color: var(--gray-100);
  padding: 4em;
  box-shadow: var(--shadow-large);
  transition: 0.2s ease;
}

.contacts_container:hover {
  box-shadow: var(--shadow-normal);
}

.contacts_main_content_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 4em; */
}

.vertical_separator {
  content: " ";
  height: 250px;
  width: 1px;
  background-color: var(--gray-500);
}

.message_form_container > form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2em;
}

.default_input_field {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray-500);
  width: 400px;
  background-color: transparent;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: 0.2s ease;
}

.default_input_field:focus,
.default_input_field:hover {
  border-bottom: 1px solid var(--gray-900);
}

.message_form_container > form > button:hover,
.message_form_container > form > button:focus {
  outline: none;
}

.list_of_contacts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.horizontal_separator {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: var(--gray-500);
  justify-self: center;
}

.list_of_contacts > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  margin-left: 2em;
  font-size: small;
}

.list_of_contacts > div > img {
  width: 30px;
}

/* article page */
/* Article title information */
.article_title_container {
}

/* article banner image */
.article_title_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.image_banner_and_content_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.image_banner_and_content_container > .article_text_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.image_banner_and_content_container
  > .article_text_content
  > .article_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.3em;
}

.article_banner_image_container img {
  width: 100%;
  transition: 0.2s ease;
}

.article_banner_image_container img:hover {
  box-shadow: var(--shadow-normal);
}

.article_content_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.article_content_container div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5em;
}

/* article_comments */

.article_comments_container > .article_comments {
  padding-left: 20em;
  padding-right: 20em;
  background-color: var(--gray-100);
}

/* add message */
.add_comment_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.message_user_image {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.message_user_image > img {
  width: 100%;
}

.add_comment_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.add_comment_container > form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.list_of_comments {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.single_comment_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.single_comment_text_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5em;
}

.comment_content_container {
  /* background-color: white;
  box-shadow: var(--shadow-normal); */
  /* padding: 1em; */
  margin: 0em 0.5em;
}

.comment_content_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.single_comment_title_and_date {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* font-size: small; */
}

.single_comment_text_container > p {
  font-size: small;
}

.single_message_actions {
  font-size: small;
  color: var(--gray-900);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.single_message_actions > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

.single_message_actions img {
  width: 15px;
}

/* login page */
.main_login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-100);
}

.login_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background-color: white;
  box-shadow: var(--shadow-normal);
  transition: 0.2s ease;
}

.login_container:hover {
  box-shadow: none;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2em;
  padding: 2em;
}

.login_form div {
}

.login_form form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
}

.login_img_container {
  width: 400px;
  height: 400px;
}

.login_img_container img {
  width: 100%;
  height: 100%;
}

.reply_comment {
  margin-left: 4em;
}

@media only screen and (max-width: 1210px) {
  .menu_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #9e9e9e61;
    height: 100vh;
    margin: 0em !important;
    padding: 0em !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    transition: 0.5s ease;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 10em;
    height: 100%;
    background-color: white;
    padding: 2em;
    gap: 2em;
    box-shadow: var(--shadow-normal);
    transition: 0.5s ease;
    margin-right: -100%;
  }

  .articles_group_col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2em;
  }

  .articles_container {
    grid-template-columns: 1fr !important;
  }

  .mx-large {
    margin-left: 2em;
    margin-right: 2em;
  }

  .px-large {
    padding: 2em;
    padding-right: 2em;
  }

  .mx-medium {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .px-medium {
    padding: 0.5em;
    padding-right: 0.5em;
  }

  .list_of_contacts > div {
    margin-left: 0px !important;
  }

  .blog_hero_img,
  .landing_page_hero_img {
    width: 100%;
    /* width: 10em !important; */
    box-shadow: var(--shadow-normal) !important;
  }

  .hero_section {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
    justify-content: start;
    align-items: center;
  }

  .hero_section h1 {
    /* font-size: large; */
  }
}

/* Media query for screens up to 1150px width */
@media only screen and (max-width: 1150px) {
  .contacts_main_content_container {
    width: 100% !important;
    display: flex;
    flex-direction: column !important;
    justify-content: start;
    align-items: center;
    gap: 2em;
  }

  .contacts_main_content_container > .vertical_separator {
    display: none;
  }

  .projects_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
  }

  .projects_main_container {
    display: flex;
    flex-direction: column;
    justify-content: cen;
    align-items: center;
    width: 100% !important;
  }

  .what_I_do_blob {
    display: none;
  }

  .what_I_do_blob_2 {
    display: none;
  }

  /* .what_I_do_section {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  } */

  .what_I_do_container {
    margin: 0em 0em;
    /* width: 40em !important; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .what_I_do_container > h2 {
    width: 100% !important;
    /* align-self: flex-start; */
  }

  .what_I_do_container > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100% !important;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .skills > div > img {
    width: 40px;
  }

  .default_input_field {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1000px) {
  p,
  span {
    font-size: x-small;
  }

  /* .contacts_section {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--gray-100);
  } */

  .contacts_container {
    width: 100% !important;
    background-color: transparent !important;
    padding: 0em 2em;
  }

  .contacts_container h2 {
    padding: 0em 1em;
  }

  .contacts_main_content_container {
    padding: 0em 2em;
  }

  .contacts_container,
  .contacts_container:hover {
    box-shadow: none !important;
  }

  .default_input_field {
    /* width: 100% !important; */
  }

  .message_form_container {
    width: 100%;
  }

  .message {
    /* width: 100%; */
  }

  .list_of_contacts {
    width: 100%;
  }

  .article_meta_data {
    font-size: x-small !important;
  }
}

@media only screen and (max-width: 1000px) {
  .login_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }

  .article_comments_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .article_comments_title_div,
  .articles_page_more_articles,
  .image_banner_and_content_container,
  .article_title_container,
  .articles_page_more_articles {
    /* width: 100%; */
    margin: 0em !important;
  }

  .article_comments_title_div,
  .article_comments_container > .article_comments {
    padding: 0em 0em !important;
  }

  .articles_page_more_articles {
  }

  .article_comments,
  .list_of_comments {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0em !important;
  }

  .list_of_comments,
  .comment,
  .comment_content_container {
    /* width: 100% !important; */
  }

  .article_comments_container p,
  .single_comment_text_container > p {
    font-size: x-small;
  }

  .articles_page_space_div {
    margin: 1em;
  }
}
